main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}
h1 {
  font-size: 1.4rem;
  line-height: 0.4rem;
}
.loader {
  width: 100px;
  height: 100px;
  display: block;
  margin: 10vh auto 0;
}
